@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px; 
	background: #fff;
	width: 960px;
	padding: 100px 0;
	margin: 0 auto;
	color: #A39171;
}

header {
	padding: 30px; 
	text-align: center;
}


footer {
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

nav {
	color: #000;
	overflow: hidden;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

nav li {
	border-right: 1px solid #A39171;
}

nav li a {
	color: #A39171;
	display: block;
	font-weight: bold;
	padding: .5em 1em;
	text-align: center;
	text-decoration: none;
}

nav li a:visited {
	color: #1e28bb;
}

nav li a:hover {
	color: #000;
	transition: .5s;
}

nav li:last-child {
  border-right: none;
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 414px) {
	
}

#nav {
	border: 1px solid #A39171;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav li {
	display: inline;
}

#nav a {
	display: inline-block;
	padding: 10px;
}
