@charset "UTF-8";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Ubuntu";

* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: #fff;
	width: 75%;
	padding: 50px 0;
	margin: 0 auto;
}

header {
	padding: 30px; 
	text-align: center;
}

p {
	text-align: center;
}

footer {
	padding: 35px 0;
	position: fixed;
	bottom: 0;
	font-size: 13px;
	width: inherit;
	color: #A39171;
	text-align: center;
}

.navbar {
	overflow: hidden;
	border: 1px solid #A39171;
	border-width: 1px 0;
	text-align: center;
}

.navbar-nav {
	overflow: hidden;
	text-align: center;
}

.nav-item {
	border-right: 1px solid #A39171;
}

.nav-link {
	color: #A39171;
	text-align: center;
	text-decoration: none;
}

.nav-link:visited {
	color: #A39171;
}

.nav-link:hover {
	color: #000;
	transition: .5s;
}

.nav-item:last-child {
  border-right: none;
}

.active {
	color: #000;
}

@media screen and (max-width: 575px) {
	.nav-item {
		border-right: none;
		border-bottom: 1px solid #A39171;
	}

	.nav-item:last-child {
		border-bottom: none;
	}
}
